<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://kit.fontawesome.com/bcaf4f0872.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="style.css">
   <title>MY APP</title>
</head>
<body>

   <h1>May Node and Express Be with you.</h1>

   <form action="/quotes" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="quote" name="quote" />
      <button type="submit">Submit</button>
    </form>

    <h2>Quotes</h2>

    <ul>
      <% for(let i = 0; i < quotes.length; i++) {%>
         <li class="quote">
            <span><%= quotes[i].name %></span>:
            <span><%= quotes[i].quote %></span>
            <span class="thumbs-up"><%= quotes[i].likes %> <i class="fa-solid fa-thumbs-up"></i></span>
            <input class="del" type="button" value="delete">
         </li>
      <% } %>
    </ul>
   

<script src="main.js"></script>
</body>
</html>